la5.fotiaoqiang.online
{
  root /srv/www
  log ./caddy.log
  proxy /v2ray 127.0.0.1:10550 {
    websocket
    header_upstream -Origin
  }
  gzip
  tls qq695791198@gmail.com {
    protocols tls1.2 tls1.3
    # remove comment if u want to use cloudflare (for DNS challenge authentication)
    # dns cloudflare
  }
}
